[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ascii"]
	path = ascii
	url = https://github.com/mclements/ascii
[submodule "biostat3"]
	path = biostat3
	url = https://github.com/mclements/biostat3
[submodule "brm"]
	path = brm
	url = https://github.com/mclements/brm
[submodule "collett"]
	path = collett
	url = https://github.com/mclements/collett
[submodule "etm"]
	path = etm
	url = https://github.com/mclements/etm
[submodule "magree"]
	path = magree
	url = https://github.com/cran/magree
[submodule "microsimulation"]
	path = microsimulation
	url = https://github.com/mclements/microsimulation
[submodule "nltm"]
	path = nltm
	url = https://github.com/mclements/nltm
[submodule "rstpm2"]
	path = rstpm2
	url = https://github.com/mclements/rstpm2
